/*
	@name mzp_html
*/
/* Only edit this if you know what you are doing! */
body { margin: 0px; padding: 0px; font-family:"Arial"; overflow-x:hidden; }

/* Only edit this if you know what you are doing! */
img { position: absolute; display: block; margin: 0px; border: none; padding: 0px; }

/* Only edit this if you know what you are doing! */
div { position: absolute; }

#content-container { display: table; position: relative; width: 900px; height: 1777.0432128906px; margin-left: auto; margin-right: auto;  }

#_bg__profile {
	top: 0px;
	left: 0px;
	width: 900px;
	height: 1777.04px;
	background:rgba(255,255,255,1);
}

#group_33 {
	top: 56.96px;
	left: 0px;
	width: 900px;
	height: 1719.86px;
}

#group_39 {
	top: 0px;
	left: 66px;
	width: 772.25px;
	height: 234.79px;
}

#navbar {
	top: 1568px;
	left: 0px;
	width: 900px;
	height: 151.83px;
}

#rectangle_33 {
	top: 0.99px;
	left: 0px;
	width: 900px;
	height: 151.83px;
	-ms-border-radius: 16.1px;
	-o-border-radius: 16.1px;
	-moz-border-radius: 16.1px;
	-webkit-border-radius: 16.1px;
	border-radius: 16.1px;
	-ms-box-shadow:0px -0.99px 6px 6px rgba(0,0,0,0.22);
	-o-box-shadow:0px -0.99px 6px 6px rgba(0,0,0,0.22);
	-webkit-box-shadow:0px -0.99px 6px 6px rgba(0,0,0,0.22);
	-moz-box-shadow:0px -0.99px 6px 6px rgba(0,0,0,0.22);
	box-shadow:0px -0.99px 6px 6px rgba(0,0,0,0.22);
	background:rgba(239.06,239.06,239.06,1);
}


#navbar_ek1 {
	top: 14px;
	left: 52px;
	width: 795.8px;
	height: 109.97px;
}


#target_bulanan {
	top: 1041.22px;
	left: 172.63px;
	width: 140px;
	height: 34.216237831116px;
	overflow: hidden;
	font-family: Gilmer;
	font-size: 17.83px;
	text-align: left;
	line-height: 17.83px;
	color:#000000;
}

#group_62 {
	top: 388.1px;
	left: 324.7px;
	width: 253.37px;
	height: 253.37px;
}

#ellipse_20 {
	opacity:0.56999999284744;
	top: 0px;
	left: 0px;
	width: 253.37px;
	height: 253.37px;
	-ms-border-radius: 126.68px / 126.68px;
	-o-border-radius: 126.68px / 126.68px;
	-moz-border-radius: 126.68px / 126.68px;
	-webkit-border-radius: 126.68px / 126.68px;
	border-radius: 126.68px / 126.68px;
	-ms-box-shadow:4.95px 4.95px 0px 0px rgba(0,0,0,0.25);
	-o-box-shadow:4.95px 4.95px 0px 0px rgba(0,0,0,0.25);
	-webkit-box-shadow:4.95px 4.95px 0px 0px rgba(0,0,0,0.25);
	-moz-box-shadow:4.95px 4.95px 0px 0px rgba(0,0,0,0.25);
	box-shadow:4.95px 4.95px 0px 0px rgba(0,0,0,0.25);
	background:rgba(255,248.39,89.68,0.57);
}


#ellipse_22 {
	top: 0px;
	left: 0px;
	width: 253.37px;
	height: 253.37px;
	-ms-border-radius: 126.68px / 126.68px;
	-o-border-radius: 126.68px / 126.68px;
	-moz-border-radius: 126.68px / 126.68px;
	-webkit-border-radius: 126.68px / 126.68px;
	border-radius: 126.68px / 126.68px;
	-ms-box-shadow:4.95px 4.95px 0px 0px rgba(0,0,0,0.25);
	-o-box-shadow:4.95px 4.95px 0px 0px rgba(0,0,0,0.25);
	-webkit-box-shadow:4.95px 4.95px 0px 0px rgba(0,0,0,0.25);
	-moz-box-shadow:4.95px 4.95px 0px 0px rgba(0,0,0,0.25);
	box-shadow:4.95px 4.95px 0px 0px rgba(0,0,0,0.25);
	background:rgba(196,196,196,1);
}


#ellipse_21 {
	top: 0px;
	left: 0px;
	width: 253.37px;
	height: 253.37px;
}


#ellipse_23 {
	top: 589.21px;
	left: 491.14px;
	width: 71.33px;
	height: 71.33px;
	-ms-border-radius: 35.66px / 35.66px;
	-o-border-radius: 35.66px / 35.66px;
	-moz-border-radius: 35.66px / 35.66px;
	-webkit-border-radius: 35.66px / 35.66px;
	border-radius: 35.66px / 35.66px;
	-ms-box-shadow:2.48px 2.48px 1px 1px rgba(0,0,0,0.25);
	-o-box-shadow:2.48px 2.48px 1px 1px rgba(0,0,0,0.25);
	-webkit-box-shadow:2.48px 2.48px 1px 1px rgba(0,0,0,0.25);
	-moz-box-shadow:2.48px 2.48px 1px 1px rgba(0,0,0,0.25);
	box-shadow:2.48px 2.48px 1px 1px rgba(0,0,0,0.25);
	background:rgba(235.88,235.88,235.88,1);
}


#image_26 {
	top: 615.22px;
	left: 514.17px;
	width: 25.02px;
	height: 26.25px;
}

#group_28 {
	top: 701.16px;
	left: 141.92px;
	width: 620.67px;
	height: 758.62px;
}
#form {
	top: 0px;
	left: 0px;
	width: 620.67px;
	height: 86.93px;
}

#rectangle_39 {
	opacity:0;
	top: 18px;
	left: 0px;
	width: 628.11px;
	height: 76.79px;
	-ms-border-radius: 17.34px;
	-o-border-radius: 17.34px;
	-moz-border-radius: 17.34px;
	-webkit-border-radius: 17.34px;
	border-radius: 17.34px;
	border: 3.72px solid #42c5a8;
	background:rgba(196,196,196,0);
}


#rectangle_40 {
	top: 8px;
	left: 26px;
	width: 177.58px;
	height: 24.77px;
	background:rgba(255,255,255,1);
}


#nama_usaha {
	top: 0px;
	left: 27px;
	width: 196px;
	height: 54.795051269531px;
	overflow: hidden;
	font-family: Gilmer;
	font-size: 28.73px;
	text-align: left;
	line-height: 28.73px;
	color:#000000;
}


#kiddy_toys {
	top: 38px;
	left: 20px;
	width: 154.30366413116px;
	height: 47.103664131165px;
	overflow: hidden;
	font-family: Gilmer;
	font-size: 24.77px;
	text-align: left;
	line-height: 24.77px;
	color:#5D5D5D;
}

#form_ek1 {
	top: 152px;
	left: 0px;
	width: 620.67px;
	height: 606.8px;
}

#rectangle_39_ek1 {
	opacity:0;
	top: 18px;
	left: 0px;
	width: 628.11px;
	height: 76.79px;
	-ms-border-radius: 17.34px;
	-o-border-radius: 17.34px;
	-moz-border-radius: 17.34px;
	-webkit-border-radius: 17.34px;
	border-radius: 17.34px;
	border: 3.72px solid #42c5a8;
	background:rgba(196,196,196,0);
}


#rectangle_41 {
	top: 508px;
	left: 0px;
	width: 628.11px;
	height: 106.26px;
	-ms-border-radius: 17.34px;
	-o-border-radius: 17.34px;
	-moz-border-radius: 17.34px;
	-webkit-border-radius: 17.34px;
	border-radius: 17.34px;
	border: 3.72px solid #42c5a8;
	background:rgba(66,197,168,1);
}


#rectangle_40_ek1 {
	top: 8px;
	left: 26px;
	width: 186.5px;
	height: 24.77px;
	background:rgba(255,255,255,1);
}


#jenis_usaha {
	top: 0px;
	left: 27px;
	width: 185.25505126953px;
	height: 54.795051269531px;
	overflow: hidden;
	font-family: Gilmer;
	font-size: 28.73px;
	text-align: left;
	line-height: 28.73px;
	color:#000000;
}


#mainan_anak___anak {
	top: 38px;
	left: 18px;
	width: 252.13366413116px;
	height: 47.103664131165px;
	overflow: hidden;
	font-family: Gilmer;
	font-size: 24.77px;
	text-align: left;
	line-height: 24.77px;
	color:#5D5D5D;
}

#form_ek2 {
	top: 304px;
	left: 0px;
	width: 620.67px;
	height: 290.52px;
}

#rectangle_39_ek2 {
	opacity:0;
	top: 18px;
	left: 0px;
	width: 628.11px;
	height: 280.38px;
	-ms-border-radius: 17.34px;
	-o-border-radius: 17.34px;
	-moz-border-radius: 17.34px;
	-webkit-border-radius: 17.34px;
	border-radius: 17.34px;
	border: 3.72px solid #42c5a8;
	background:rgba(196,196,196,0);
}


#rectangle_40_ek2 {
	top: 8px;
	left: 26px;
	width: 99.32px;
	height: 24.77px;
	background:rgba(255,255,255,1);
}


#goals {
	top: 0px;
	left: 27px;
	width: 95.355051269531px;
	height: 54.795051269531px;
	overflow: hidden;
	font-family: Gilmer;
	font-size: 28.73px;
	text-align: left;
	line-height: 28.73px;
	color:#000000;
}

#group_63 {
	top: 61px;
	left: 26px;
	width: 358.88px;
	height: 57.46px;
}

#jumlah_impresi {
	top: 14px;
	left: 0px;
	width: 191.20366413116px;
	height: 47.103664131165px;
	overflow: hidden;
	font-family: Gilmer;
	font-size: 24.77px;
	text-align: left;
	line-height: 24.77px;
	color:#5D5D5D;
}


#rectangle_55 {
	top: 0px;
	left: 245px;
	width: 113.43px;
	height: 57.46px;
	-ms-border-radius: 6.19px;
	-o-border-radius: 6.19px;
	-moz-border-radius: 6.19px;
	-webkit-border-radius: 6.19px;
	border-radius: 6.19px;
	background:rgba(219.94,219.94,219.94,1);
}


#_8k {
	top: 14px;
	left: 313px;
	width: 41.363664131165px;
	height: 47.103664131165px;
	overflow: hidden;
	font-family: Gilmer;
	font-size: 24.77px;
	font-weight: bold;
	text-align: left;
	line-height: 24.77px;
	color:#000000;
}


#image_23 {
	top: 8px;
	left: 261px;
	width: 40.87px;
	height: 41.11px;
}

#group_64 {
	top: 138px;
	left: 26px;
	width: 358.88px;
	height: 57.46px;
}

#jumlah_konten {
	top: 14px;
	left: 0px;
	width: 191.45366413116px;
	height: 47.103664131165px;
	overflow: hidden;
	font-family: Gilmer;
	font-size: 24.77px;
	text-align: left;
	line-height: 24.77px;
	color:#5D5D5D;
}


#rectangle_55_ek1 {
	top: 0px;
	left: 245px;
	width: 113.43px;
	height: 57.46px;
	-ms-border-radius: 6.19px;
	-o-border-radius: 6.19px;
	-moz-border-radius: 6.19px;
	-webkit-border-radius: 6.19px;
	border-radius: 6.19px;
	background:rgba(219.94,219.94,219.94,1);
}


#_12 {
	top: 14px;
	left: 313px;
	width: 38px;
	height: 47.103664131165px;
	overflow: hidden;
	font-family: Gilmer;
	font-size: 24.77px;
	font-weight: bold;
	text-align: left;
	line-height: 24.77px;
	color:#000000;
}


#image_23_ek1 {
	top: 8px;
	left: 261px;
	width: 40.87px;
	height: 41.11px;
}

#group_63_ek1 {
	top: 1220.04px;
	left: 167.92px;
	width: 358.88px;
	height: 57.46px;
}

#jumlah_kerjasama {
	top: 14px;
	left: 0px;
	width: 234px;
	height: 47.103664131165px;
	overflow: hidden;
	font-family: Gilmer;
	font-size: 24.77px;
	text-align: left;
	line-height: 24.77px;
	color:#5D5D5D;
}


#rectangle_55_ek2 {
	top: 0px;
	left: 245px;
	width: 113.43px;
	height: 57.46px;
	-ms-border-radius: 6.19px;
	-o-border-radius: 6.19px;
	-moz-border-radius: 6.19px;
	-webkit-border-radius: 6.19px;
	border-radius: 6.19px;
	background:rgba(219.94,219.94,219.94,1);
}


#_2 {
	top: 14px;
	left: 313px;
	width: 27px;
	height: 47.103664131165px;
	overflow: hidden;
	font-family: Gilmer;
	font-size: 24.77px;
	font-weight: bold;
	text-align: left;
	line-height: 24.77px;
	color:#000000;
}


#image_23_ek2 {
	top: 8px;
	left: 261px;
	width: 40.87px;
	height: 41.11px;
}


#rectangle_56 {
	top: 1065.49px;
	left: 539.18px;
	width: 203.59px;
	height: 216.22px;
	-ms-border-radius: 17.34px;
	-o-border-radius: 17.34px;
	-moz-border-radius: 17.34px;
	-webkit-border-radius: 17.34px;
	border-radius: 17.34px;
	-ms-box-shadow:2.48px 2.48px 1px 1px rgba(0,0,0,0.25);
	-o-box-shadow:2.48px 2.48px 1px 1px rgba(0,0,0,0.25);
	-webkit-box-shadow:2.48px 2.48px 1px 1px rgba(0,0,0,0.25);
	-moz-box-shadow:2.48px 2.48px 1px 1px rgba(0,0,0,0.25);
	box-shadow:2.48px 2.48px 1px 1px rgba(0,0,0,0.25);
	background:rgba(197,66,95,1);
}


#ubah {
	top: 1208.4px;
	left: 595.86px;
	width: 95px;
	height: 57.268070373535px;
	overflow: hidden;
	font-family: Gilmer;
	font-size: 30.22px;
	font-weight: bold;
	text-align: center;
	line-height: 30.22px;
	color:#FFFFFF;
}


#group_65 {
	top: 1102.64px;
	left: 599.37px;
	width: 80.99px;
	height: 82.97px;
}

#group_66 {
	top: 1388.46px;
	left: 301.67px;
	width: 300.92px;
	height: 44.09px;
}

#pengaturan_lain {
	top: 4px;
	left: 62px;
	width: 254px;
	height: 57.268070373535px;
	overflow: hidden;
	font-family: Gilmer;
	font-size: 30.22px;
	text-align: left;
	line-height: 30.22px;
	color:#000000;
}


#image_28 {
	top: 0px;
	left: 0px;
	width: 44.58px;
	height: 44.09px;
}



/* Add your custom CSS here */
